:root {
	--dark_purple: #7b4b94;
	--blue_purple: #7d82b8;
	--mint: #b7e3cc;
	--green_apple: #c4ffb2;
	--yellow_green: #d6f7a3;
}

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	color: white;
	margin: 20px;
	background-color: var(--dark_purple);
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: var(--blue_purple);
	border: 2px solid var(--dark_purple);
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	color: var(--green_apple);
	width: 34px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
	font-size: 1.5em;
}
